@page "/ManageOrders/{id:int}"
@using global::Shared.Model
@using global::Shared.Dtos
@using HttpClients.ClientInterfaces
@inject IOrderService orderService
@inject IItemService itemService
@inject NavigationManager navMgr

@if (order == null)
{
    <h3>Loading</h3>
    <br/>
    <span>fetching data..</span>
}

else
{
    <div class="post-card">
        <h3>Order number: @Id</h3>
        <p>requested pickup date: @order.Date</p>
        <p>This order has the following items:</p>
        <br/>
        @foreach (var item in order.Items)
        {
            <li>@item.Name with price: @item.Price kr</li>
        }
    </div>
    <br/>
    <p class="legal">ordered by: @order.Customer.FirstName @order.Customer.LastName</p>
    <label>Status: </label>   
    <select name="orderStatus" id="orderStatus" @onchange="SetStatus">
        @if (order.Status.Equals("ordered"))
        {
            <option selected="selected" value="ordered">ordered</option>
            <option value="in progress">in progress</option>
            <option value="ready for pickup">ready for pickup</option>
        }else if (order.Status.Equals("in progress"))
        {
            <option value="ordered">ordered</option>
            <option selected="selected" value="in progress">in progress</option>
            <option value="ready for pickup">ready for pickup</option>
        }
        else if (order.Status.Equals("ready for pickup"))
        {
            <option value="ordered">ordered</option>
            <option value="in progress">in progress</option>
            <option selected="selected" value="ready for pickup">ready for pickup</option>
        }
        
    </select>
    <p>total price: @totalPrice kr</p>
    <div>
        <button @onclick="ConfirmButton">Delete order (irreversible)</button>
        <button @onclick="AddItemButton">Add item(s) to order</button>
        <button @onclick="RemoveItemButton">Remove item(s) from order</button>
    </div>
    if (confirmBool)
    {
        <div>
            <p>Are you sure you want to delete the order?</p>
            <button @onclick="DeleteOrder">Yes</button>
            <button @onclick="ConfirmButton">No</button>
        </div>
    }
    if (addBool)
    {
        <div>
            <label>Select the item to add:</label>
            <select name="addItem" id="addItem" @onchange="SetItemToAdd">
                <option selected="selected">choose:</option>
                @foreach (var item in allItems)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <button @onclick="AddItem">Add to order</button>
        </div>
    }
    if (removeBool)
    {
        <div>
            <label>Select the item to remove:</label>
            <select name="removeItem" id="removeItem" @onchange="SetItemToRemove">
                <option selected="selected">choose:</option>
                @foreach (var item in order.Items)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <button @onclick="@RemoveItem">Remove from order</button>
        </div>
    }
    <br/>
    <p style="color: red">@msg</p>
}

@code {
    [Parameter] 
    public int Id { get; set; }

    private bool confirmBool;
    private bool addBool;
    private bool removeBool;
    private string status;
    private OrderFullInfoDto order;
    private OrderUpdateDto updateDto = null!;
    private ICollection<Item> allItems;
    private Item itemToAdd;
    private Item itemToRemove;
    private double totalPrice;
    private string msg = "";
    private string error = "";

    ///Method that is called whenever the page is loaded. It fetches all available items and
    /// all the information of the selected order
    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            Console.WriteLine("about to fetch");
            order = await orderService.GetOrderByIdAsync(Id);
            var fetchedItems = await itemService.GetAsync(null);
            allItems = fetchedItems.OrderBy(i => i.Name).ToList();
            status = order.Status;
            totalPrice = UpdateTotalPrice();
            updateDto = new(Id,order.Items,order.Status)
            {
                Items = order.Items,
                Status = order.Status,
            };
            Console.WriteLine("fetched the order!");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    ///Method that is called whenever an item is added or removed from the order
    /// in order to update the current price of the order
    private double UpdateTotalPrice()
    {
        double temp = 0;
        foreach (var item in order.Items)
        {
            Console.WriteLine(item.Name + item.Price);
            temp += item.Price;
        }
        return temp;
    }

    ///Method that is called whenever a Canteen employee changes the state of the order
    private async void SetStatus(ChangeEventArgs e)
    {
        string selectedValue = e.Value.ToString();
        status = selectedValue;
        OrderUpdateDto update = new OrderUpdateDto(Id, order.Items, status);
        try
        {
            await orderService.UpdateAsync(update);
            msg = "order status changed to: " + status;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            msg = ex.Message;
            StateHasChanged();
        }
        
    }

    ///Method that sets an item variable to what the canteen employee selects
    /// in the webpage in order to add it to the order.
    private void SetItemToAdd(ChangeEventArgs e)
    {
        if (!e.Value.ToString().Equals(""))
        {
            int selectedValue = int.Parse(e.Value.ToString());
            itemToAdd = allItems.FirstOrDefault(item => item.Id == selectedValue);
        }
    }

    ///Method that sets an item variable to what the canteen employee selects
    /// in the webpage in order to remove it from the order
    private void SetItemToRemove(ChangeEventArgs e)
    {
        if (!e.Value.ToString().Equals(""))
        {
            int selectedValue = int.Parse(e.Value.ToString());
            itemToRemove = order.Items.FirstOrDefault(item => item.Id == selectedValue);
        }
        
    }

    ///Method that sets certain booleans in order to display the correct buttons on the webpage
    /// for the current action
    private void ConfirmButton()
    {
        addBool = false;
        removeBool = false;
        if (confirmBool)
        {
            confirmBool = false;
        }
        else
        {
            confirmBool = true;
        }
    }

    ///Method that sets certain booleans in order to display the correct buttons on the webpage
    /// for the current action
    private void AddItemButton()
    {
        confirmBool = false;
        removeBool = false;
        if (addBool)
        {
            addBool = false;
        }
        else
        {
            addBool = true;
        }
    }

    ///Method that sets certain booleans in order to display the correct buttons on the webpage
    /// for the current action
    private void RemoveItemButton()
    {
        confirmBool = false;
        addBool = false;
        if (removeBool)
        {
            removeBool = false;
        }
        else
        {
            removeBool = true;
        }
    }
    
    ///Method that deletes the current order.
    private async Task DeleteOrder()
    {
        
        msg = "";
        try
        {
            await orderService.DeleteAsync(Id);
            navMgr.NavigateTo($"/ViewOrders");
            
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    ///Method that adds the currently selected item to the order
    private async Task AddItem()
    {
        msg = "";
        bool present = false;
        try
        {
            foreach (var item in order.Items)
            {
                if (item.Id == itemToAdd.Id)
                {
                    present = true;
                }
            }
            if (present)
            {
                msg = "Order already contains this item";
            }
            else
            {
                order.Items.Add(itemToAdd);
                OrderUpdateDto update = new OrderUpdateDto(Id, order.Items, order.Status);
                await orderService.UpdateAsync(update);
                msg = "item added to order";
                totalPrice = UpdateTotalPrice();
            }
            
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
            order.Items.Remove(itemToAdd);
        }
    }

    ///Method that removes the currently selected item from the order
    private async Task RemoveItem()
    {
        msg = "";
        try
        {
            order.Items.Remove(itemToRemove);
            updateDto = new OrderUpdateDto(Id, order.Items, order.Status);
            await orderService.UpdateAsync(updateDto);
            totalPrice = UpdateTotalPrice();
            msg = "item removed from order";
            removeBool = false;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
            order.Items.Add(itemToRemove);
        }
    }

}