@page "/SeeItems"
@using global::Shared.Model
@using HttpClients.ClientInterfaces
@using global::Shared.Dtos
@using global::Shared.Dtos.IngredientDto
@inject IItemService itemService;
@inject IIngredientService ingredientService;
@inject NavigationManager navMgr

<h3>See Items</h3>

<div class="filter-bar">
    <div class="filters-container">
        <img src="icons/@(doShowFilters ? "clear_" : "")funnel.png" class="funnel" @onclick="@(() => doShowFilters = !doShowFilters)" alt="Funnel"/>
        @if (doShowFilters)
        {
            <div class="filter">
                <label>Name:</label>
                <input type="text" @bind="nameFilter"/>
            </div>
            <div class="filter">
                <label>Item Id:</label>
                <input type="number" @bind="idFilter"/>
            </div>
        }
    </div>
</div>

<div>
    <button @onclick="LoadItems">Load</button>
</div>


@if (items == null)
{
}
else if (!items.Any())
{
    <p>No Posts to display</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Item ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Edit</th>
            <th>View</th>
            <th>Delete?</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in items)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>
                    <img src="icons/edit.gif" class="funnel" @onclick="@(() => navMgr.NavigateTo($"/ManageItems/{item.Id}"))"/>
                </td>
                <td>
                    <img src="icons/view.png" class="funnel" @onclick="@(() => navMgr.NavigateTo($"/ViewItemDetails/{item.Id}"))"/>
                    </td>
                
                <td>
                    <label @onclick="@(() => RemoveItem(item.Id))" style="cursor:pointer; color: red; font-weight: bold">
                        &#x2717;
                    </label>
                    </td>
                
            </tr>
        }
        </tbody>
    </table>
}
@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}




<h3>Add Item</h3>
@if (_ing == null)
{
}
else if (!_ing.Any())
{
    <p>No Posts to display</p>
}
else
{
    <div class="filter-bar">
        <div class="filters-container">
            <div class="form-group field">
                <label>Name:</label>
                <textarea rows="1" cols="15" @bind="newItemName"/>
            </div>
            <div class="form-group field">
                <label>Price:</label>
                <textarea rows="1" cols="5" @bind="newPrice" />
            </div>
            <div class="form-group field">
                <label>Ingredients:</label>
                <select @bind="_i1">
                    <option>Choose</option>
                    @foreach (Ingredient ingredient in _ing)
                    {
                        <option value="@ingredient.Id">@ingredient.Name</option>
                    }
                </select>
            </div>

            <div class="button-row">
                @if (!string.IsNullOrEmpty(msg))
                {
                    <label style="color: red">@msg</label>
                }
                <button @onclick="CreateItem" class="acceptbtn">Create</button>
            </div>
            }
        </div>
    </div>
}

@code {
   
    private IEnumerable<Item>? items;
    private IEnumerable<Ingredient>? _ing;
    private IngredientBasicDto ingdto = null!;
    private ItemBasicDto dto = null!;
    private int price;
    private string msg = "";
    private bool doShowFilters = false;
    private string newItemName ="";
    private int newPrice;
    private List<int> newIngredients;
    private int? _i1;
  

    private string? nameFilter;
    private int? idFilter;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _ing = await ingredientService.getAllIngredientsAsync(null);

            items = await itemService.GetAsync(nameFilter);
            


        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    
    
     private async Task LoadItems()
    {
        try
        {
            items = await itemService.GetAsync(nameFilter);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    
    private async Task CreateItem()
    {
        msg = "";
        if (_i1 == null )
        {
            msg = "You must select an ingredient!";
            return;
        }
        if (string.IsNullOrEmpty(newItemName))
        {
            msg = "Name cannot be empty!";
            return;
        }
        if (newPrice==null)
        {
            msg = "Price cannot be empty!";
            return;
        }
        
        try
        {
            
           
            newIngredients.Add((int)_i1);
            ItemCreationDto creationDto = new(newItemName,newPrice,newIngredients);
            await itemService.CreateAsync(creationDto);
    //ingredients = await ingredientService.getAllIngredientsAsync(Name);
            msg = "Item created";

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }



     
     
     
    /*
     
     private async Task LoadTodos()
    {
        try
        {
            todos = await todoService.GetAsync(null, null, null, null);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    private async Task CompleteTodo(Post item, bool status)
    {
        PostUpdateDto dto = new(item.Id)
        {
            IsCompleted = status
        };
    
        try
        {
            await todoService.UpdateAsync(dto);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }*/ 
    private async Task RemoveItem(int id)
    {
        msg = "";
        try
        {
            await itemService.DeleteAsync(id);
        
            var list = new List<Item>(items!);
            list.RemoveAll(todo => todo.Id == id);
            items = list.AsEnumerable();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    
}

