@page "/SeeItems"
@using global::Shared.Model
@using HttpClients.ClientInterfaces
@using global::Shared.Dtos
@using global::Shared.Dtos.IngredientDto
@inject IItemService itemService;
@inject IIngredientService ingredientService;
@inject NavigationManager navMgr
@inject IJSRuntime jsRuntime;

<h3>See Items</h3>

<div class="filter-bar">
    <div class="filters-container">
        <img src="icons/@(doShowFilters ? "clear_" : "")funnel.png" class="funnel" @onclick="@(() => doShowFilters = !doShowFilters)" alt="Funnel"/>
        @if (doShowFilters)
        {
            <div class="filter">
                <label>Name:</label>
                <input type="text" @bind="_nameFilter"/>
            </div>
        }
    </div>
</div>

<div>
    <button @onclick="LoadItems">Load</button>
</div>


@if (items == null)
{
}
else if (!items.Any())
{
    <p>No Posts to display</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Item ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>View</th>
            <th>Delete?</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in items)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>
                    <img src="icons/view.png" class="funnel" @onclick="@(() => navMgr.NavigateTo($"/ViewItemDetails/{item.Id}"))"/>
                    </td>
                
                <td>
                    <img src="img/delete.png" class="funnel" @onclick="@(() => ConfirmAction(item.Id))"/>
                    
                </td>
                
            </tr>
        }
        </tbody>
    </table>
}
@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}


<br/>
<br/>
<div class="icon-row">
<div class="filter-bar">
<h3>Add Item</h3>
<div class="filters-container">
        <img src="icons/@(doShowFilters1 ? "clear_" : "")add.png" class="funnel" @onclick="@(() => doShowFilters1 = !doShowFilters1)" alt="Funnel"/>
        @if (doShowFilters1)
        {
@if (_ingredients == null)
{
}
else if (!_ingredients.Any())
{
    <p>No Items to display</p>
}
else
{
    
    <div class="form-group field">
        <label>Name:</label>
        <input type="text" @bind="newItemName"/>
    </div>
    <br/>
    <div class="form-group field">
        <label>Price :</label>
        <input type="text" @bind="newPrice" />
    </div>
    <br/>
            <label>Ingredients:</label>
    <select name="addItem" id="addItem" @onchange="SetIngredientToAdd">
        <option>Choose:</option>
        @foreach (Ingredient ingredient in _ingredients)
        {
            <option value="@ingredient.Id">@ingredient.Name</option>

        }
    </select>
    <button class="addItemBtn"  @onclick="AddIngredient">add ingredient</button>
            
            <h5>Selected Items</h5>
            
            @if (newIngredients.Count>0)
            {
                <table class="table">
                    <thead>
                    <tr>
                        <th>Ingredient Name</th>
                        <th>Item Allergen</th>
                        <th>Remove</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var i in _ingredients)
                    {
                        foreach (var j in newIngredients)
                        {
                            if(i.Id==j){
                                
                                <tr>
                                    <td>@i.Name</td>
                                    <td>@i.Allergen</td>
                                    <td>
                                      <img src="img/delete.png" class="funnel" @onclick="RemoveIngredient"/>
                                                                      
                                    </td>
                                </tr>
                                
                            }
                        

                               
                            
                        }
                        
                       
                    }
                    </tbody>
                </table>
            }
           
        

            <div class="button-row">
                @if (!string.IsNullOrEmpty(msg))
                {
                    <label style="color: red">@msg</label>
                }
                <button class="createItemBtn" @onclick="CreateItem">Create</button>
            </div>
            


        }
        

        }
</div>
</div>
</div>


@code {
   
    private IEnumerable<Item>? items=new List<Item>();
    private IEnumerable<Ingredient>? _ingredients=new List<Ingredient>();
    //private List<Ingredient> selectedIngredient=new List<Ingredient>();
    private IngredientBasicDto ingdto = null!;
   
    
    private bool doShowFilters1 = false;
    private bool doShowFilters2 = false;
    private string msg = "";
    private bool doShowFilters = false;
    private static string newItemName ="";
    private static  int newPrice=0;
    private List<int> newIngredients=new List<int>();
    private bool addBool;
    private Ingredient ingredientToAdd;
    private ItemBasicDto dto = new ItemBasicDto(newItemName, newPrice, new List<Ingredient>());
  

    private string? _nameFilter;
   
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _ingredients = await ingredientService.getAllIngredientsAsync(null);

            items = await itemService.GetAsync(null);
            


        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    
    
     private async Task LoadItems()
    {
         try
        {
            items = await itemService.GetAsync(_nameFilter);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    
    private async Task CreateItem()
    {
        msg = "";
        if (dto.Ingredients == null )
        {
            msg = "You must select an ingredient!";
            return;
        }
        if (string.IsNullOrEmpty(newItemName))
        {
            msg = "Name cannot be empty!";
            return;
        }
        if (newPrice==null)
        {
            msg = "Price cannot be empty!";
            return;
        }
        
        try
        {
            
           
            
            ItemCreationDto creationDto = new(newItemName,newPrice,newIngredients);
            await itemService.CreateAsync(creationDto);
            //ingredients = await ingredientService.getAllIngredientsAsync(Name);
            msg = "Item created";
            items = await itemService.GetAsync(null);



        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }


    private void SetIngredientToAdd(ChangeEventArgs e)
    {
        int selectedValue = int.Parse(e.Value.ToString());
        ingredientToAdd = _ingredients.FirstOrDefault(i => i.Id == selectedValue);
    }
    
    private async Task AddIngredient()
    {
        try
        {
            if (!newIngredients.Contains(ingredientToAdd.Id))
            {
                newIngredients.Add(ingredientToAdd.Id);
                msg = "Ingredient added"; 
            }
            else
            {
                msg = "Ingredient already added";
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    
    private async Task RemoveIngredient()
    {
        try
        {
            newIngredients.Remove(ingredientToAdd.Id);
            msg = "Ingredient removed";
            await OnInitializedAsync();


        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
     
     
     
   
    private async Task RemoveItem(int id)
    {
        msg = "";
        try
        {
            await itemService.DeleteAsync(id);
        
            var list = new List<Item>(items!);
            list.RemoveAll(todo => todo.Id == id);
            items = await itemService.GetAsync(null);

            items = list.AsEnumerable();
            



        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    
    private async Task ConfirmAction(int id)
    {
        bool confirmed = await jsRuntime.InvokeAsync<bool>("confirmAction", "Are you sure you want to proceed?");
        
        if (confirmed)
        {
            RemoveItem(id);
            items = await itemService.GetAsync(null);
            
        }
        else
        {
            LoadItems();
        }
    }
    
}

